@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
    background-color: #141517;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1b1e;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffd43b;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #c4a42f;
  }
}

.nav_active {
  clip-path: circle(140% at calc(100% - 23px) 5%);
}
.nav_inactive {
  clip-path: circle(0 at calc(100% - 23px) 5%);
}
